<div id="<%= dom_id shop_item %>">
  <p>
    <strong>Name:</strong>
    <%= shop_item.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= shop_item.description %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= shop_item.amount %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= shop_item.price %>
  </p>

</div>
